<script>
  Vue.component('card-autoload', {
    data: function () {
      return {
        card: null,
        cardStyle: null,
      }
    },
    mounted: async function() {
      const cardId = this.$attrs.cardid;
      const response = await fetch(`<%= process.env.REST_URL %>/rest/cards/${cardId}`);
      this.cardStyle = this.$attrs.cardstyle;
      this.card = await response.json();
    },
    props: ['cardId', 'holo', 'premium', 'color', 'cardStyle'],
    template: '#card-autoload',
  })
</script>

<script type="text/x-template" id="card-autoload">
  <div card-autoload v-if="card">
    <card :card="card" :holo="holo" :premium="premium" :color="color" :cardStyle="cardStyle"></card>
  </div>
</script>
