<script>
Vue.component('codeinput', {
  data: function () {
    return {
    }
  },
  mounted: async function() {
  },
  methods: {
  },
  props: [],
  template: '#codeinput',
})
</script>

<script type="text/x-template" id="codeinput">
  <p>
    //TODO
  </p>
</script>
