<script>
Vue.component('codeinput', {
  data: function () {
    return {
      val: "",
    }
  },
  mounted: async function() {
  },
  methods: {
    keyhandler: function(event) {
      if (this.$data.val.length === 0) {
        return;
      }
      const val = this.$data.val.split('-').join(''); // Remove dash (-) if mistakenly entered.
      const finalVal = val.match(/.{1,4}/g).join('-');
      this.$data.val = finalVal;
    }
  },
  props: ['id', 'name', 'placeholder', 'classname'],
  template: '#codeinput',
})
</script>

<script type="text/x-template" id="codeinput">
  <p>
    <input
      type="text"
      placeholder="0000-0000-0000"
      v-on:keyup="keyhandler"
      autocomplete="off"
      :class="classname"
      :id="id"
      :name="name"
      :placeholder="placeholder"
      v-model="val" />
  </p>
</script>
