#drifter-s-tales {
  .drifter-s-tales-heading {
    padding: 420px 0 150px 0;
    background-image: url(../images/top-drifter-s-tales.jpg);
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
  }
}
