
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap');
$family-primary: "Lora", serif;
$body-background-color: #000;
$body-color: #FFF;
$strong-color: #FFF;
$body-overflow-y: auto;
$primary: hsl(48, 100%, 67%);
$primary-invert: #000;
$dropdown-content-background-color: #222;
$dropdown-item-hover-color: $primary;
$dropdown-item-color: #FFF;
$dropdown-item-hover-background-color: #333;
$dropdown-content-background-color: #222;
$gap: 32px;
$fullhd: 2088px + (2 * $gap);
$widescreen: 1344px + (2 * $gap);
$table-background-color: rgba(0, 0, 0, .1);
$table-color: #FFF;
$table-head-cell-color: $primary;

/* Import TFS globals */
@import "../../node_modules/bulma/bulma.sass";

[disabled] {
  opacity: .5;
  pointer-events: none;
  cursor: not-allowed;
}

body {
  font-size: 18px;
}

.navbar.is-tfs {
  background-color: transparent;
  background-image: url(../images/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 27px;
  z-index: 1;
  .navbar-item {
    color: #FFF;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    position: relative;
    &:hover {
      color: $primary;
      background: transparent;
    }
  }
}

.separator {
  background-image: url(../images/separator.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  &.has-margin {
    margin: 2em 0;
  }
}

#arena {
  padding-top: 150px;
}

#homepage {
  .homepage-hero {
    background-image: url(../images/top-hunter.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 700px;
    padding-top: 200px;
    .content {
      width: 100%;
      max-width: 500px;
      padding: 2rem;
      margin: 0 auto;
      p {
        text-shadow: #000 0 0 20px, #000 0 0 10px, #000 0 0 5px;
      }
      a {
        text-shadow: none;
      }
    }
  }
}
