
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap');
$family-primary: "Lora", serif;
$body-background-color: #000;
$body-color: #FFF;
$strong-color: #FFF;
$body-overflow-y: auto;
$primary: hsl(48, 100%, 67%);
$primary-invert: #000;
$dropdown-content-background-color: #222;
$dropdown-item-hover-color: $primary;
$dropdown-item-color: #FFF;
$dropdown-item-hover-background-color: #333;
$dropdown-content-background-color: #222;
$gap: 32px;
$fullhd: 2088px + (2 * $gap);
$widescreen: 1344px + (2 * $gap);
$table-background-color: rgba(0, 0, 0, .1);
$table-color: #FFF;
$table-head-cell-color: $primary;

/* Import the icons */
@import '~@fortawesome/fontawesome-free/css/all.min.css';

/* Import TFS globals */
@import "../../node_modules/bulma/bulma.sass";

.has-margin-top {
  margin-top: 1em;
}
