<%- include('../elements/nav.ejs') %>

<div id="about" class="">
  <div class="about-heading">
    <div class="container">
      <h1 class="is-size-2 is-uppercase has-text-primary has-text-centered has-text-shadow">A propos du jeu</h1>
    </div>
  </div>

  <div class="separator"></div>

  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">

        <div class="has-text-centered">
          <h1 class="is-size-3 has-text-primary">Où on joue ?</h1>
          <p class="has-margin-top-2">
            Nous essayons de vous offrir un maxium de supports pour essayer The First Spine. Vous pouvez jouer en ligne avec Arena ou en téléchargeant la version PnP.
          </p>
          <p class="has-margin-top-2">
            <a class="button is-primary is-medium" href="/arena">En ligne</a>
            <a class="button is-primary is-medium" href="/pnp">En imprimant</a>
          </p>
        </div>

        <hr />

        <div class="columns has-margin-top-2">
          <div class="column has-text-centered is-hidden-touch">
            <div class="card-wrapper is-one-third has-margin-top-2">
              <card-autoload color="#111" cardId="summoner"></card-autoload>
            </div>
          </div>
          <div class="column">
            <h1 class="is-size-3 has-text-primary">Comment ça se joue ?</h1>
            <p class="is-size-5 has-margin-top-2">The First Spine est un jeu de cartes stratégique de 2 à 4 joueurs. Chaque joueur pose créatures et artefacts sur un plateau tout en jouant des sorts meurtriers.</p>
            <p class="is-size-5 has-margin-top-2">A la fin du tour de chaque joueur leurs créatures et artefacts entrent en confrontation avec ceux des ennemis.</p>
            <p class="is-size-5 has-margin-top-2">Un objectif : détruire les sorciers adverses.</p>
          </div>
        </div>

        <hr />
        
        <div class="has-text-centered">
          <h1 class="is-size-3 has-text-primary">L'histoire du jeu</h1>
          <p class="has-margin-top-2">Il y a bien longtemps, le monde d’Aetheria n’était à l’origine
          que cendres. Un jour, une épine poussa dans le sol ; l’Épine
          Primordiale engendra la végétation. La végétation, à son
          tour, engendra les créatures qui peuplent aujourd’hui le monde
          tel qu’on le connaît aujourd’hui.</p>
          <p class="has-margin-top-2">C’est dans le continent d’Exodia que l’on raconte l’histoire
          du premier prophète du nom de Démence. Celui-ci arriva à
          créer un artefact puissant appelé La Couronne ; la présence
          de cet artefact conféra aux habitants d’Aetheria des pouvoirs
          surnaturels extrêmement puissants.</p>
          <p class="has-margin-top-2">Nous sommes maintenant capables des plus grandes merveilles,
          comme des plus grands méfaits. Certains sont capables de
          construire des artefacts par la seule force de leur esprit.
          D’autres ont le pouvoir de matérialiser des créatures qui nous
          étaient inconnues. Et enfin, certains ont le pouvoir de lancer
          de puissants sortilèges en prononçant de simples mots.</p>
          <p class="has-margin-top-2">Aujourd’hui, La Couronne est perdue. La légende raconte
          qu’elle ne pourra être retrouvée que par le plus puissant de tous
          les sorciers.</p>
        </div>

      </div>
    </div>
  </div>
</div>

<%- include('../elements/footer.ejs') %>
