<%- include('../elements/nav.ejs') %>

<div id="adventures" class="">
  <div class="adventures-heading">
    <div class="container">
      <h1 class="is-size-2 is-uppercase has-text-primary has-text-centered has-text-shadow">Adventures</h1>
      <h1 class="is-size-5 is-uppercase has-text-primary has-text-centered has-text-shadow">
        (provisional title)
      </h1>
    </div>
  </div>

  <div class="separator"></div>

  <div class="container">
    //TODO
  </div>
</div>

<%- include('../elements/footer.ejs') %>
