<div id="arena" class="has">
  <div class="container">
    <h1 class="has-text-centered is-size-3" style="margin: 2em 0">
      <img src="images/arena-icon.png" width="250" /><br />
      Téléchargez le client
    </h1>
    <p class="has-text-centered">
      <% if (windowsVersion) { %>
      <a class="button is-info is-size-5" href="/download/windows">
        <i class="fab fa-windows"></i> &nbsp;
        Windows (v<%= windowsVersion %>)
      </a>
      <% } else { %>
        <a disabled class="button is-info is-size-5">
          <i class="fab fa-windows"></i> &nbsp;
          Bientôt disponible
        </a>
      <% } %>

      <% if (macosVersion) { %>
        <a class="button is-light is-size-5" href="/download/macos">
          <i class="fab fa-apple"></i> &nbsp;
          Mac OS (v<%= macosVersion %>)
        </a>
      <% } else { %>
        <a disabled class="button is-light is-size-5">
          <i class="fab fa-apple"></i> &nbsp;
          Bientôt disponible
        </a>
      <% } %>

      <% if (linuxVersion) { %>
        <a class="button is-primary is-size-5" href="/download/linux">
          <i class="fab fa-linux"></i> &nbsp;
          Linux (v<%= linuxVersion %>)
        </a>
      <% } else { %>
        <a disabled class="button is-primary is-size-5">
          <i class="fab fa-linux"></i> &nbsp;
          Bientôt disponible
        </a>
      <% } %>
    </p>
  </div>
</div>
