<%- include('../elements/nav.ejs') %>

<div id="code">
  <div class="code-heading">
    <div class="container">
      <h1 class="is-size-2 is-uppercase has-text-primary has-text-centered has-text-shadow">Ajouter un code</h1>
    </div>
  </div>

  <div class="separator"></div>

  <div class="container has-text-centered">
    <form action="/codes" method="POST" class="has-text-centered has-margin-top-2">
      <div class="field">
        <div class="control codeinput">
          <codeinput classname="input is-large" name="code" placeholder="0000-0000-0000"></codeinput>
        </div>
      </div>
      <div class="field">
        <input class="button is-primary is-medium" type="submit" value="Envoyer" />
      </div>
    </form>
  </div>

</div>

<%- include('../elements/footer.ejs') %>
