<%- include('../elements/nav.ejs') %>

<div id="drifter-s-tales" class="has-text-centered">
  <div class="drifter-s-tales-heading has-text-centered">
    <div class="container">
      <h1 class="is-size-1 is-uppercase has-text-primary has-text-shadow">Drifter's Tales</h1>
      <h1 class="is-size-4 is-uppercase has-text-primary has-text-shadow">
        Les Contes du Vagabond
      </h1>
    </div>
  </div>

  <div class="container mb-6">
    <p class="mb-4">Les Contes du Vagabond est un jeu à paraître début 2022 sur PC. </p>
    <p class="is-size-4 has-text-primary">Premier devlog dans</p>
    <countdown class="is-size-5 has-text-primary is-family-monospace" date="2021/04/30 09:00:00"></countdown>
  </div>

</div>

<%- include('../elements/footer.ejs') %>
