<%- include('../elements/nav.ejs') %>

<div id="events" class="">
  <div class="events-heading">
    <div class="container">
      <h1 class="is-size-2 is-uppercase has-text-primary has-text-centered has-text-shadow"><%= __('events.title') %></h1>
    </div>
  </div>

  <div class="separator"></div>

  <div class="container">
    <% for(let i = 0; i < events.length; i += 3) { %>
        <div class="columns">
        <% for(let j = i; j < i + 3 && j < events.length; j ++) { %>
          <div class="column is-one-third">
            <%- include(
              '../elements/' +
              {
                'online:target:933': 'event-online-target.ejs',
                'online:target:934': 'event-online-target.ejs',
                'online:target:935': 'event-online-target.ejs',
                'online:target:1141': 'event-online-target.ejs',
                'online:corsairs': 'event-online-corsairs.ejs',
                'online:tournament': 'event-online-tournament.ejs',
              }[events[j].type],
              {
                event: events[j],
              }
            ) %>
          </div>
        <% } %>
      </div>
      <% } %>
  </div>
</div>

<%- include('../elements/footer.ejs') %>
