<section class="hero is-warning is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Programme de tests bêta de Arena
      </h1>
      <h2 class="subtitle">
        Testez le futur de The First Spine
      </h2>
    </div>
  </div>
</section>

<p>&nbsp;</p>

<div class="container has-margin-top">
  <h2 class="is-size-4 has-margin-top">Qui peut participer à ce programme ?</h2>
  <p class="has-margin-top">Toute personne ayant un compte sur The First Spine ayant une adresse e-mail avant le 20 janvier. Les connexions avec Facebook ne sont pas prises en charge dans cette version (mais elle le sera après).</p>
  <h2 class="is-size-4 has-margin-top">Comment participer ?</h2>
  <p class="has-margin-top">Téléchargez le client, installez-le et commencez à jouer. La période de test court jusqu'au 3 mars 2020.</p class="has-margin-top">
  <h2 class="is-size-4 has-margin-top">Vais-je pouvoir garder mes récompenses ?</h2>
  <p class="has-margin-top">Oui ! A la fin de cette phase de tests, vos récompenses vous seront restituées après la phase de tests via un code.</p class="has-margin-top">
</div>
