<section class="hero is-warning is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-2">
        The First Spine Arena <span class="tag is-dark">BETA</span>
      </h1>
      <h2 class="subtitle">
        Testez le futur de The First Spine
      </h2>
    </div>
  </div>
</section>

<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Téléchargez le client<br />
        <small class="is-size-6">Version <%= version %></small>
      </h1>
      <a class="button is-info is-size-5" href="/download/windows" target="_blank" onclick="ga('send', 'event', 'Download', 'windows', '<%= version %>')">
        <i class="fab fa-windows"></i> &nbsp;
        Téléchargez pour Windows
      </a>
      <a disabled class="button is-light is-size-5">
        <i class="fab fa-apple"></i> &nbsp;
        Téléchargez pour Mac
      </a>
    </div>
  </div>
</section>

<div class="container">
  <div class="columns has-margin-top-2">
    <div class="column">
      <img src="/images/arena-presentation-1.jpg" class="fluid" />
    </div>
    <div class="column">
      <h2 class="is-size-3">Matchmaking simplifié et rapide</h2>
      <p class="is-size-5 has-margin-top">Il y a toujours un adversaire qui cherche à se battre. Profitez d'un matchmaking classé qui vous permettra de tomber sur des adversaire à votre taille.</p>
    </div>
  </div>
  <div class="columns has-margin-top-2">
    <div class="column">
      <h2 class="is-size-3">Un jeu dynamique et prenant</h2>
      <p class="is-size-5 has-margin-top">Chaque sortilège et chaque action de votre part produira des effets dévastateurs et inoubliables.</p>
    </div>
    <div class="column">
      <img src="/images/arena-presentation-2.jpg" class="fluid" />
    </div>
  </div>
  <div class="columns has-margin-top-2">
    <div class="column">
      <img src="/images/arena-presentation-3.jpg" class="fluid" />
    </div>
    <div class="column">
      <h2 class="is-size-3">Des cosmétiques qui vous ressemble</h2>
      <p class="is-size-5 has-margin-top-2">Afin de financer le jeu en version papier, nous avons décidé de sortir de nouveaux cosmétiques fréquemment. Chaque achat nous aide à sortir la version physique de The First Spine !</p>
    </div>
  </div>
</div>

<hr class="has-margin-top-2" />

<div class="container">
  <div class="small-content has-margin-top-2">
    <h2 class="is-size-4 has-margin-top-2">Qui peut participer à ce programme ?</h2>
    <p class="has-margin-top">Toute personne qui peut lire ces lignes =)</p>
    <h2 class="is-size-4 has-margin-top">Vais-je pouvoir utiliser mon compte utilisateur dans la bêta ?</h2>
    <p class="has-margin-top">Si vous vous êtes inscrit avec une adresse e-mail, vous pouvez utiliser vos identifiants sur ce test. Attention, les changements apportés à votre compte sur le site actuel ne sont pas répercutés sur la version bêta et vice-versa.</p>
    <p class="has-margin-top">Les connexions avec Facebook ne sont pas prises en charge dans cette version (mais elles le seront après).</p>
    <p class="has-margin-top">Vous pouvez aussi vous inscrire sans aucune validation d'adresse e-mail. Les comptes créés seront supprimés à la fin de la période de tests.</p>
    <h2 class="is-size-4 has-margin-top">Comment participer ?</h2>
    <p class="has-margin-top">Téléchargez le client, installez-le et commencez à jouer. La période de test court jusqu'au 3 mars 2020.</p>
    <h2 class="is-size-4 has-margin-top">Vais-je pouvoir garder mes récompenses ?</h2>
    <p class="has-margin-top">Oui ! A la fin de cette phase de tests, vos récompenses vous seront restituées après la phase de tests via un code et envoyés à l'adresse e-mail correspondante au compte utilisé.</p>
  </div>
</div>

<hr class="has-margin-top-2" />

<div class="container">
  <div class="small-content has-margin-top-2"></div>
    <h2 class="is-size-2 has-margin-top-2">Etat des services</h2>
    <div class="columns has-margin-top-2">
      <div class="column is-size-4">
        <script>
          checkservice('http://beta.arena.thefirstspine.fr/status')
        </script>
        Parties en ligne
      </div>
      <div class="column is-size-4">
        <script>
          checkservice('http://beta.auth.thefirstspine.fr/status')
        </script>
        Authentification
      </div>
      <div class="column is-size-4">
        <script>
          checkservice('http://beta.bots.thefirstspine.fr/status')
        </script>
        JcE
      </div>
    </div>
    <div class="columns">
      <div class="column is-size-4">
        <script>
          checkservice('http://beta.messaging.thefirstspine.fr/status')
        </script>
        Notifications en direct
      </div>
      <div class="column is-size-4">
        <script>
          checkservice('http://beta.rest.thefirstspine.fr/status')
        </script>
        Ressources
      </div>
      <div class="column is-size-4">
        <script>
          checkservice('http://beta.rooms.thefirstspine.fr/status')
        </script>
        Espaces de discussions
      </div>
    </div>
  </div>
</div>
