<div id="homepage">
  <div class="homepage-hero hunter">
    <div class="content">
      <img src="/images/thefirstspine-white.svg" />
      <p class="is-size-4 is-uppercase has-text-centered">Jeu de cartes stratégique</p>
      <p class="is-uppercase has-text-centered">
        <a href="/arena" class="button is-primary is-size-5">Essayer en ligne</a>
      </p>
    </div>
  </div>
</div>

<div class="separator"></div>
