<%- include('../elements/nav.ejs') %>

<div id="pnp" class="">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <h2 class="has-text-primary is-size-4 is-uppercase">Jouer à la version PnP</h2>
        <p>&nbsp;</p>
        <p>La version PnP de TFS est disponible sur Google Drive.</p>
        <p>&nbsp;</p>
        <p>
          <a class="button is-link is-large" href="https://drive.google.com/open?id=0B3403nsbXYY7Z1NyeGd0NWlVY0k" target="_blank"><i class="fab fa-google-drive"></i> &nbsp; Télécharger</a>
        </p>
      </div>
    </div>
  </div>
</div>

<%- include('../elements/footer.ejs') %>
