<%- include('../elements/nav.ejs') %>

<div id="profile">

  <div class="profile-heading">
    <div class="container">
      <h1 class="is-size-2 is-uppercase has-text-primary has-text-centered">Votre compte</h1>
    </div>
  </div>

  <div class="separator"></div>

  <div class="container">
    <article  class="message is-danger">
      <div class="message-body">
        Malheuresement votre compte n'est pas (encore) éditable.
      </div>
    </article >
    <% if(errors.length) { %>
      <% errors.forEach(function(error){ %>
        <article  class="message is-danger">
          <div class="message-body">
            <%= error %>
          </div>
        </article >
      <% }); %>
    <% } %>
  </div>
</div>

<%- include('../elements/footer.ejs') %>
