<div id="profile" class="">

  <div class="container">
    <h1 class="has-text-centered has-text-primary is-size-2" style="margin: 2em 0">
      Votre compte
    </h1>
  </div>

  <div class="container">
    <article  class="message is-danger">
      <div class="message-body">
        Malheuresement votre compte n'est pas (encore) éditable.
      </div>
    </article >
    <% if(errors.length) { %>
      <% errors.forEach(function(error){ %>
        <article  class="message is-danger">
          <div class="message-body">
            <%= error %>
          </div>
        </article >
      <% }); %>
    <% } %>
  </div>
</div>
