<%- include('../elements/nav.ejs') %>

<div id="mentoring" class="">
  <div class="mentoring-header has-text-primary">
    <h1>Parrainer un ami</h1>
    <!-- Refer a friend -->
  </div>

  <div class="notification is-danger">
    <div class="container">
      Le parrainage n'est pas (encore) terminé. Vous pouvez parrainer un filleul, mais les récompenses ne seront pas disponibles.
    </div>
  </div>

  <div class="container">
    
    <div class="columns  is-vcentered">
      <div class="column has-text-centered">
        <img src="images/friendship-gift.png" />
      </div>
      <div class="column">
        <h2 class="is-size-3 has-text-primary">Un cadeau de bienvenue pour vous deux</h2>
        <p class="is-size-5 has-text-white has-margin-top-1">Dès que votre filleul aura joué sa première partie classique ou en tournoi, vous obtiendrez tous les deux 100 éclats de mana.<sup class="has-text-grey">*</sup></p>
        <p class="is-size-5 has-text-white has-margin-top-1">Une bonne façon de souhaitez la bienvenue à votre filleul !</p>
      </div>
    </div>
    
    <div class="columns is-vcentered">
      <div class="column">
        <h2 class="is-size-3 has-text-primary">Il progresse, vous y gagnez</h2>
        <p class="is-size-5 has-text-white has-margin-top-1">A la fin de chaque cycle, vous recevrez des éclats de mana à la hauteur des progrès de votre filleul. Pour chaque partie gagnée, vous remporterez 3 éclats de mana !<sup class="has-text-grey">**</sup></p>
        <p class="is-size-5 has-text-white has-margin-top-1">Choisissez bien votre filleul, plus il sera fort, plus il vous sera profitable !</p>
      </div>
      <div class="column has-text-centered">
        <img src="images/friendship-serial.png" />
      </div>
    </div>

    <hr />

    <div class="has-text-centered">
      <h2 class="is-size-2 has-text-primary is-uppercase">Comment devenir parrain ?</h2>
      <p class="is-size-5 has-text-white has-margin-top-2">
        Donnez ce lien vers le formulaire d'inscription à votre futur filleur :
      </p>
      <p class="is-size-3 has-text-white">
        <% if (refering) { %>
          <% if (refering.user) { %>
            <span class="has-text-danger">Votre parrainage est déjà activé !</span>
          <% } else { %>
            <span class="has-text-grey" id="refer-link">https://www.thefirstspine.fr/refer-a-friend/<%= refering.code %></span>
            <a class="button is-primary has-tooltip" onclick="copyReferer(this)">
              <i class="fas fa-copy"></i>
            </a>
          <% } %>
        <% } else { %>
          <span class="has-text-danger">Connectez-vous afin d'activer le lien d'affiliation.</span>
        <% } %>
      </p>
      <p class="is-size-5 has-text-white has-margin-top-2">
        En s'inscrivant avec ce lien, votre lien d'affiliation sera activé !
      </p>
    </div>

    <hr />

    <div class="has-margin-top-2 has-text-grey">
      <p><small>* sous forme de code envoyé par e-mail. Les codes sont envoyés une fois par jour, l'envoi n'est pas immédiat. Dans la limite d'un filleul par compte.</small></p>
      <p><small>** sous forme de code envoyé par e-mail. Le code sera envoyé dans un maximum de cinq jours après la fin du cycle. Gain maximum de 300 éclats de mana.</small></p>
    </div>

  </div>
</div>

<script>
function copyReferer(btn) {
  // Copy
  const temp = document.createElement("input");
  document.body.appendChild(temp);
  temp.value = document.getElementById("refer-link").textContent;
  temp.select();
  document.execCommand("copy");
  temp.remove();
  btn.setAttribute('disabled', 'disabled');
  btn.innerHTML += '<span class="tooltip">Copié !</span>';
}
</script>

<%- include('../elements/footer.ejs') %>
