<%- include('../elements/nav.ejs') %>

<div id="rules" class="">
  <div class="rules-heading">
    <div class="container">
      <h1 class="is-size-2 is-uppercase has-text-primary has-text-centered has-text-shadow">Les règles du jeu</h1>
    </div>
  </div>

  <div class="separator"></div>

  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <aside class="menu">
          <p class="menu-label is-size-5">
            Les decks
          </p>
          <ul class="menu-list">
            <li><a href="#destinies">Destinées</a></li>
            <li>
              <ul>
                <li><a href="#conjurer">Illusionniste</a></li>
                <li><a href="#summoner">Invocateur</a></li>
                <li><a href="#sorcerer">Prestidigitateur</a></li>
                <li><a href="#hunter">Chasseur</a></li>
              </ul>
            </li>
            <li><a href="#origins">Origines</a></li>
            <li>
              <ul>
                <li><a href="#healer">Guérisseur</a></li>
                <li><a href="#architect">Architecte</a></li>
                <li><a href="#priest">Prêtre</a></li>
                <li><a href="#smith">Forgeron</a></li>
              </ul>
            </li>
          </ul>
          <p class="menu-label is-size-5">
            Les essentiels
          </p>
          <ul class="menu-list">
            <li><a href="#objective">Objectif du jeu</a></li>
            <li><a href="#content">Contenu du jeu</a></li>
            <li><a href="#install">Installation</a></li>
          </ul>
          <p class="menu-label is-size-5">
            Les cartes
          </p>
          <ul class="menu-list">
            <li><a href="#types">Types de cartes</a></li>
            <li><a href="#stats">Stats & capacités</a></li>
            <li><a href="#specials">Cartes spéciales</a></li>
          </ul>
          <p class="menu-label is-size-5">
            Déroulement du jeu
          </p>
          <ul class="menu-list">
            <li><a href="#start">Démarrage</a></li>
            <li><a href="#discard">Défausse & pioche</a></li>
            <li><a href="#actions">Actions</a></li>
            <li><a href="#confrontations">Confrontations</a></li>
          </ul>
          <p class="menu-label is-size-5">
            Les capacités
          </p>
          <ul class="menu-list">
            <li><a href="#capacities-card">Capacités de cartes</a></li>
            <li><a href="#capacities-side">Capacités de côtés</a></li>
          </ul>
          <p class="menu-label is-size-5">
            Cas particuliers
          </p>
          <ul class="menu-list">
            <li><a href="#capacities-vs-effects">Capacités vs effets</a></li>
            <li><a href="#many-capacities-effects">Plusieurs capacités et effets en même temps</a></li>
            <li><a href="#card-vs-rule">Carte vs règle</a></li>
            <li><a href="#card-vs-card">Carte vs carte</a></li>
          </ul>
        </aside>
      </div>
      <div class="column">
        <a id="decks"></a>
        <h2 class="has-text-primary is-uppercase is-size-2">Les decks</h2>
        
        <a id="destinies"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Les destinées</h3>

        <p class="has-margin-top-1">La destinée représente les cartes principales dont vous disposez. La première édition de The First Spine dispose de 4 destinées, à savoir l’illusionniste, l’invocateur, le prestidigitateur et le chasseur.</p>
        
        <a id="conjurer"></a>
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column has-text-centered">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="DODGERBLUE" cardId="conjurer"></card-autoload>
            </div>
          </div>
          <div class="column">
            <h4 class="has-text-primary is-uppercase is-size-6">Illusionniste</h4>
            <p class="has-margin-top-1">L’illusionniste peut faire apparaître de grands artefacts rien que par la pensée pour engendrer des défenses inébranlables.</p>
          </div>
        </div>
        
        <a id="summoner"></a>
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column">
            <h4 class="has-text-primary is-uppercase is-size-6">Invocateur</h4>
            <p class="has-margin-top-1">L’invocateur peut matérialiser des créatures sorties tout droit des cauchemars de ses adversaires.</p>
          </div>
          <div class="column has-text-centered">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="CRIMSON" cardId="summoner"></card-autoload>
            </div>
          </div>
        </div>
        
        <a id="sorcerer"></a>
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column has-text-centered">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="GOLD" cardId="sorcerer"></card-autoload>
            </div>
          </div>
          <div class="column">
            <h4 class="has-text-primary is-uppercase is-size-6">Prestidigitateur</h4>
            <p class="has-margin-top-1">Ni invocateur, ni illusionniste, le prestidigitateur dispose de puissants sortilèges pour déjouer les stratégies de ses adversaires.</p>
          </div>
        </div>
        
        <a id="hunter"></a>
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column">
            <h4 class="has-text-primary is-uppercase is-size-6">Chasseur</h4>
            <p class="has-margin-top-1">Le chasseur dispose de tous les atouts pour traquer les différents sorciers d’Exodia. Utiliser les armes de ses adversaires est sa spécialité.</p>
          </div>
          <div class="column has-text-centered">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="SLATEGRAY" cardId="hunter"></card-autoload>
            </div>
          </div>
        </div>
        
        <a id="origins"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Les origines</h3>

        <p class="has-margin-top-1">L’origine représente d’où vient votre joueur, et les cartes qui viendront compléter votre deck de départ. L’origine doit rester secrète et complète votre deck de 6 cartes supplémentaires. N’oubliez pas : si vous jouez une carte de votre origine, attendez-vous à dévoiler votre stratégie.</p>

        <a id="healer"></a>
        <h4 class="has-margin-top-1 has-text-primary is-uppercase is-size-6">Guérisseur</h4>
        <p class="has-margin-top-1">Le guérisseur dispose de sort de soins et de toute une panoplie défensive.</p>
        
        <a id="architect"></a>
        <h4 class="has-margin-top-1 has-text-primary is-uppercase is-size-6">Architecte</h4>
        <p class="has-margin-top-1">L'architecte peut modifier le terrain de jeu à sa guise.</p>
        
        <a id="priest"></a>
        <h4 class="has-margin-top-1 has-text-primary is-uppercase is-size-6">Prêtre</h4>
        <p class="has-margin-top-1">Le Prêtre connaît les affres de la douleur et s'en sert à ses propres fins.</p>
        
        <a id="smith"></a>
        <h4 class="has-margin-top-1 has-text-primary is-uppercase is-size-6">Forgeron</h4>
        <p class="has-margin-top-1">Le Forgeron peut augmenter la défense de ses cartes et se servire d'un marteau meutrier.</p>

        <hr />

        <a id="essentials"></a>
        <h2 class="has-text-primary is-uppercase is-size-2">Les essentiels</h2>
        
        <a id="objective"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Objectif du jeu</h3>

        <p class="has-margin-top-1">The First Spine est un jeu de plateau <strong>et</strong> de cartes, dans le sens où les joueurs piochent des cartes, et peuvent les poser et les faire évoluer sur un plateau de jeu.</p>
        <p class="has-margin-top-1">Choisissez une destinée et une origine pour votre personnage, et réduisez à 0 les points de vie de vos adversaires en placant les cartes sur le plateau de jeu.</p>
        
        <a id="content"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Contenu du jeu</h3>

        <div class="columns has-text-centered">
          <div class="column">
            <p class="has-margin-top-1">
              <img src="/images/rules-board.png" />
            </p>
            <p>Le plateau de jeu</p>
          </div>
          <div class="column">
            <p class="has-margin-top-1">
              <img src="/images/rules-cards.png" />
            </p>
            <p>4 decks de destinée de 36 cartes chacun</p>
            <p>4 decks d’origines de 24 cartes chacun</p>
          </div>
          <div class="column">
            <p class="has-margin-top-1">
              <img src="/images/rules-squares.png" />
            </p>
            <p>36 cases spéciales (12 cases « eau », 12 cases « lave », 12 cases « fosse »)</p>
          </div>
          <div class="column">
            <p class="has-margin-top-1">
              <img src="/images/rules-tokens.png" />
            </p>
            <p>Pions de statistiques recto-verso</p>
          </div>
        </div>
        
        <a id="install"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Installation</h3>

        <p class="has-margin-top-1 is-uppercase"><span class="stat defense">1</span> Choisissez une destinée</p>
        <p class="has-margin-top-1">Chaque joueur choisit une destinée et prend les decks de destinée et d’origine respectifs. Ils placent la carte sorcier face à eux au centre de l’extémité du plateau de jeu qui leur est la plus proche.</p>

        <p class="has-margin-top-1 is-uppercase"><span class="stat defense">2</span> Choisissez une origine</p>
        <p class="has-margin-top-1">Chaque joueur choisit et prélève les six cartes de l’origine dans le deck des origines, signalées pas la même lettre en bas à droite sur un fond argenté. Les cartes restantes doivent être mises hors-jeu.</p>

        <p class="has-margin-top-1 is-uppercase"><span class="stat defense">3</span> Démarrage</p>
        <p class="has-margin-top-1">Les joueurs mélangent leur cartes et piochent 6 cartes pour constituer leur main départ.</p>

        <hr />

        <a id="cards"></a>
        <h2 class="has-text-primary is-uppercase is-size-2">Les cartes</h2>
        
        <a id="types"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Types de cartes</h3>
        
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column has-text-centered">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="#111" cardId="the-tower"></card-autoload>
            </div>
          </div>
          <div class="column">
            <h4 class="is-uppercase is-size-6 has-text-link">Les Artéfact</h4>
            <p class="has-margin-top-1">Les artefacts sont des cartes que vous devez poser sur le plateau de jeu. Les artefacts <strong>ne peuvent pas initier des confrontations</strong> avec d’autres cartes posées sur le plateau de jeu. Les artefacts ne peuvent pas se déplacer.</p>
          </div>
        </div>
        
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column">
            <h4 class="has-text-danger is-uppercase is-size-6">Les Créatures</h4>
            <p class="has-margin-top-1">Les créatures sont des cartes que vous devez poser sur le plateau de jeu. Les créatures <strong>doivent initier les confrontations</strong> avec d’autres cartes et sorciers adverses posés sur le plateau de jeu. Les créatures peuvent se déplacer.</p>
          </div>
          <div class="column has-text-centered">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="#111" cardId="the-fox"></card-autoload>
            </div>
          </div>
        </div>
        
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column has-text-centered">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="#111" cardId="thunder"></card-autoload>
            </div>
          </div>
          <div class="column">
            <h4 class="has-text-primary is-uppercase is-size-6">Les Sortilège</h4>
            <p class="has-margin-top-1">Les sortilèges ne doivent pas être posés sur le plateau de jeu. Une fois jouée, une carte sortilège doit être défaussée.</p>
          </div>
        </div>
        
        <a id="stats"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Stats et capacités</h3>
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column has-text-centered">
            <p>
              <span class="stat strength">3</span> & <span class="stat defense">1</span> - Représente la force (en rouge) et la défense (en bleu) du côté de la carte.
            </p>
            <div class="has-margin-top-1 card-wrapper is-wrapped is-one-third">
              <card-autoload color="#111" cardId="shadows-banner"></card-autoload>
            </div>
            <p class="has-margin-top-1">
              <span class="stat life"><i class="capacity-aura"></i></span> - Le symbole à cet endroit représente la capacité du côté de la carte. Cette capacité ne concerne que le côté sur lequel elle est marquée.
            </p>
          </div>
          <div class="column has-text-left">
            <p>
              <span class="stat life">1</span> - Le chiffre sur fond noir au centre représente la vie de la carte. Si la vie de la carte tombe à 0, elle est considérée comme détruite.
            </p>
            <p class="has-margin-top-1">
              <span class="stat life"><i class="capacity-death"></i></span> - Ce symbole - et tous les autres symboles à cet endroit - représente la capacité de la carte.
            </p>
          </div>
        </div>
        
        <a id="specials"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Cartes spéciales</h3>

        <div class="has-margin-top-1 columns">
          <div class="column has-text-centered">
            <h4 class="has-text-primary is-uppercase is-size-6">Les cases</h4>
            <div class="has-margin-top-1 card-wrapper is-wrapped is-half">
              <card-autoload color="#111" cardId="lava"></card-autoload>
            </div>
            <p class="has-margin-top-1">Le plateau de jeu de The First Spine peut contenir des cases spéciales qui ont chacune un effet différent. Ces cases peuvent être ajoutées au début de la partie, ou en cours de partie.</p>
          </div>
          <div class="column has-text-centered">
            <h4 class="has-text-primary is-uppercase is-size-6">Les sorciers</h4>
            <div class="has-margin-top-1 card-wrapper is-wrapped is-half">
              <card-autoload color="CRIMSON" cardId="summoner"></card-autoload>
            </div>
            <p class="has-margin-top-1">Chaque joueur est représenté par un sorcier. Le chiffre au centre représente ses points de vie. Lorsque ceux-ci tombent à 0, le joueur a perdu. Les sorciers se placent sur les cases situées au centre des extrémités du plateau. En 1 contre 1, elles se placent les unes en face des autres.</p>
            <p class="has-margin-top-1">Les sorciers ne peuvent pas se déplacer, et ne peuvent pas initier des confrontations avec d’autres cartes.</p>
          </div>
        </div>

        <hr />

        <a id="game"></a>
        <h2 class="has-text-primary is-uppercase is-size-2">Déroulement du jeu</h2>
        
        <a id="start"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Démarrage</h3>

        <p class="has-margin-top-1">Chaque partie se décompose en tours se déroulant dans l’ordre des aiguilles d’une montre. Chaque tour contient 3 phases de jeux à jouer dans l’ordre : <strong>défausse / pioche, actions et enfin confrontations.</strong></p>
        <p class="has-margin-top-1 is-uppercase">Avant de jouer</p>
        <p class="has-margin-top-1">Le joueur qui commence est celui qui a perdu une partie précédente. Si aucune partie n’a été jouée avant, c’est celui qui s’est levé le plus tôt qui commence.</p>
        <p class="has-margin-top-1 is-uppercase">Avant le tour</p>
        <p class="has-margin-top-1">Avant de commencer votre tour de jeu, les effets qui se passant « avant votre tour » se résolvent avant la phase de défausse / pioche.</p>
        
        <a id="discard"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Défausse & pioche</h3>

        <p class="has-margin-top-1">Vous pouvez vous défausser d’une carte, c’est à dire la mettre dans votre pile de défausse. Vous pouvez vous défausser de cartes supplémentaires, moyennant un point de vie par carte.</p>
        <p class="has-margin-top-1">Vous piochez ensuite des cartes pour avoir une main de six cartes.</p>
        <p class="has-margin-top-1">Cette phase doit être jouée au début de chaque tour et est obligatoire.</p>
        <p class="has-margin-top-1">Si vous ne pouvez pas piocher suffisamment de cartes au début de votre tour pour constituer votre main, votre sorcier perd 1 point de vie pour chaque carte que vous ne pouvez pas piocher.</p>
        
        <a id="actions"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Actions</h3>

        <div class="columns has-margin-top-1 has-text-centered">
          <div class="column">
            <h4 class="is-uppercase has-text-primary">Placer une carte</h4>
            <p class="has-margin-top-1">
              <img src="/images/rules-place.png" />
            </p>
            <p class="has-margin-top-1">Vous pouvez placer une créature ou un artefact sur le plateau de jeu face à vous.</p>
            <p class="has-margin-top-1">Une carte ne peut être placée que sur une case vide et adjacente à une case que vous contrôlez. Vous contrôlez une case si une de vos cartes est sur la case, y compris le sorcier qui vous représente.</p>
          </div>
          <div class="column">
            <h4 class="is-uppercase has-text-primary">Jouer un sortilège</h4>
            <p class="has-margin-top-1">
              <img src="/images/rules-spell.png" />
            </p>
            <p class="has-margin-top-1">Vous pouvez jouer une carte sortilège que vous avez en main.</p>
          </div>
          <div class="column">
            <h4 class="is-uppercase has-text-primary">Déplacer une créature</h4>
            <p class="has-margin-top-1">
              <img src="/images/rules-move.png" />
            </p>
            <p class="has-margin-top-1">Vous pouvez déplacer une créature d’une seule case sur le plateau de jeu vers une autre case libre. Les diagonales ne sont pas autorisées.</p>
          </div>
        </div>
        
        <a id="confrontations"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Confrontations</h3>

        <h4 class="has-margin-top-1 is-uppercase has-text-primary">Déroulement</h4>
        
        <p class="has-margin-top-1">Si une créature ou un artefact disposant de la Menace (voir les capacités à la fin des règles) que vous contrôlez est placé à côté d’une autre carte contrôlée par un adversaire ou à côté d’un sorcier adverse, elles doivent entrer en confrontation. Si une de vos cartes doit entrer en confrontation avec plusieurs cartes, vous choisissez la carte avec laquelle elle entre en confrontation.</p>
        <p class="has-margin-top-1">Lors d’une confrontation, il faut calculer les points de vie perdues par chaque carte. Pour ce faire, il faut prendre <span class="has-text-danger">l’attaque</span> du côté des cartes qui entrent en confrontation et soustraire la <span class="has-text-link">défense</span> de leur carte opposée. Le résultat obtenu doit être retranché aux points de vie des cartes.</p>
        <p class="has-margin-top-1">La phase de confrontation doit clôturer le tour du joueur.</p>

        <h4 class="has-margin-top-1 is-uppercase has-text-primary">Exemple</h4>
        
        <div class="has-margin-top-1 has-text-centered">
          <div style="transform: rotate(90deg)" class="has-margin-top-1 card-wrapper is-wrapped is-half">
            <card-autoload color="CRIMSON" cardId="paladin-of-the-ninth-desert"></card-autoload>
          </div>&nbsp;<div style="transform: rotate(-90deg)" class="has-margin-top-1 card-wrapper is-wrapped is-half">
            <card-autoload color="DODGERBLUE" cardId="barbers"></card-autoload>
          </div>
        </div>

        <p class="has-margin-top-1">Sur l’exemple ci-dessus, Le Paladin appartient au joueur actif et entre en confrontation avec les Barbelés.</p>
        <p class="has-margin-top-1">Le Paladin inflige <span class="stat strength">3</span> - <span class="stat defense">0</span> points de vie aux Barbelés, donc <span class="stat life">3</span> points de vie au total. Les Barbelés infligent <span class="stat strength">4</span> - <span class="stat defense">0</span> points de vie, donc <span class="stat life">3</span> point de vie au total.</p>
        <p class="has-margin-top-1">Les barbelés sont donc détruits et partent dans la pile de défausse de leur propriétaire. Le Paladin reste en jeu avec <span class="stat life">1</span> point de vie.</p>

        <hr />

        <a id="capacities"></a>
        <h2 class="has-text-primary is-uppercase is-size-2">Les capacités</h2>
        
        <a id="capacities-card"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Capacités de carte</h3>
        
        <h3 class="has-margin-top-1 is-uppercase is-size-4">
          <span class="stat life"><i class="capacity-threat"></i></span> Menace
        </h3>

        <p class="has-margin-top-1">La carte entre en confrontation avec d’autres cartes placées sur le côté de la capacité.</p>
        
        <h3 class="has-margin-top-1 is-uppercase is-size-4">
          <span class="stat life"><i class="capacity-aura"></i></span> Aura
        </h3>

        <p class="has-margin-top-1">La carte placée sur le côté de la capacité gagne <span class="stat strength">2</span> pour tous ses côtés tant qu’elle est contrôlée par le même joueur.</p>
        
        <a id="capacities-side"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Capacités de côté</h3>
        
        <h3 class="has-margin-top-1 is-uppercase is-size-4">
          <span class="stat life"><i class="capacity-death"></i></span> Mort Subite
        </h3>

        <p class="has-margin-top-1">Si la carte perd au moins un point de vie, elle est détruite. Si la carte est détruite par une créature ou un artefact, cette créature ou cet artefact est détruit.</p>
        
        <h3 class="has-margin-top-1 is-uppercase is-size-4">
          <span class="stat life"><i class="capacity-treason"></i></span> Trahison
        </h3>

        <p class="has-margin-top-1">Si la carte est détruite par un adversaire, elle doit être remise sur le plateau à la même place et contrôlée par l’adversaire qui l’a détruit. La carte perd cette capacité une fois qu’elle a été remise sur le plateau. Si la carte doit aller dans une pile de défausse, elle doit être mise dans la défausse de son propriétaire original.</p>
        
        <h3 class="has-margin-top-1 is-uppercase is-size-4">
          <span class="stat life"><i class="capacity-run"></i></span> Course
        </h3>

        <p class="has-margin-top-1">Au début de votre tour (avant la phase de pioche), vous pouvez déplacer l’une des cartes qui a cette capacité.</p>
        
        <h3 class="has-margin-top-1 is-uppercase is-size-4">
          <span class="stat life"><i class="capacity-burdenEarth"></i></span> Terre-Brûlée
        </h3>

        <p class="has-margin-top-1">Si la carte est détruite par une autre carte, la case occupée par cette carte ne peut être utilisée qu’à partir de votre prochain tour.</p>
        
        <h3 class="has-margin-top-1 is-uppercase is-size-4">
          <span class="stat life"><i class="capacity-grow"></i></span> Croissance
        </h3>

        <p class="has-margin-top-1">La carte gagne <span class="stat strength">1</span> à chaque tour de son propriétaire pendant 5 tours.</p>

        <hr />

        <a id="exceptions"></a>
        <h2 class="has-text-primary is-uppercase is-size-2">Cas particuliers</h2>

        <p class="has-margin-top-1">Voilà quelques règles qui vous seront utiles si des conflits apparaissent en cours de partie :</p>
        
        <a id="capacities-vs-effects"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Capacités vs effets</h3>

        <p class="has-margin-top-1">Les capacités (symboles sur les cartes) ont la priorité sur les effets (textes sur les cartes).</p>
        
        <a id="many-capacities-effects"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Plusieurs capacités et effets en même temps</h3>

        <p class="has-margin-top-1">Si plusieurs capacités doivent être joués en même temps, elles se résolvent dans l'ordre des capacités présentées dans cette règle. Un effet composé de plusieurs phrases est considéré comme étant une suite d’effets. Si plusieurs effects doivent être joués en même temps, le joueur actif est prioritaire sur ces effets.</p>
        
        <a id="card-vs-rule"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Carte vs règle</h3>

        <p class="has-margin-top-1">Si une carte contredit les règles, la carte l’emporte.</p>
        
        <a id="card-vs-rule"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4">Carte vs carte</h3>

        <p class="has-margin-top-1">Si deux cartes se contredisent, celle indiquant que vous ne pouvez pas faire quelque chose l’emporte sur celle disant que vous le pouvez.</p>

      </div>
    </div>
  </div>
</div>

<%- include('../elements/footer.ejs') %>
